@import url(/assets/css/reset/style.css);


.stretched-link::after{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1;
    content:""
}

.products{
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(80px, auto);
    .card{
        display: flex;
        padding: 0.1rem;
        height: 180px;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
        .card-body{
            display: block;
            .img{
                display: flex;
                padding-bottom: 10px;
                justify-content: center;
                position: relative;
                img{
                    width: 100px;
                    height: 80px;
                }
                span{
                    position: absolute;
                    top: 0;
                    right:15%;
                    font-family: 'SF Pro Display Black';
                    background-color: rgb(0, 94, 194);
                    color: white;
                    border-radius: 50px;
                    border: 2px solid white;
                    padding: 0.25rem;
                }
            }
            .title{
                text-align: center;
                font-size: 1rem;
                h3{
                    padding-bottom: 5px;
                    font-size: 1.15rem;
                }
            }
        }
        
    }
}
.cart{
    display: none;
}
@media (min-width: 540px) {
    .section-index{
        display: inline-block;
        width: 80%;
    }

    .cart{
        display: inline-block;
        width: 15%;
        height: 150px;
        background-color: black;
    }

    .products{
        padding: 0.5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(80px, auto);
        .card{
            display: flex;
            height: 90px;
            padding: 0.5rem;
            .card-body{
                display: flex;
                align-items: center;

                
                .img{
                    display: inline-block;
                    padding-bottom: 0px;
                    padding-right: 10px;
                    position: relative;
                    img{
                        width: 100px;
                        height: 80px;
                    }
                    
                }
                .title{
                    text-align: left;
                    margin: 0 0 0 .5rem;
                }
            }
        }
    }
}

    


.section-index{
    padding: 2rem 1rem;
    header{
        h1{
            font-family: 'SF Pro Display Black';
            font-size: 48px;
        }
    }

    .section-hamburguer{
        padding: 1rem;
        header{
            h2{
                font-family: 'SF Pro Display Black';
                font-size: 28px;
            }
        }
        .products{
            
        .card{
            .title{
                h3{
                    font-family: 'SF Pro Display Black';
                }
                p{
                    font-family: 'SF Pro Display';
                }
            }
            .actions{
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
                span{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    line-height: 0;
                    background: var(--secondary);
                    font-size: 1.5rem;
                    font-weight: 600;
                    padding: 1rem;
                    margin: 0 0.25rem 0 0;
                    width: 15px;
                    height: 15px;
                    border: unset;
                    border-radius: 10px;
          
                    &:active{
                        background: var(--primary);
                    }
                }
            }
        }
    }
}
}




@font-face {
    font-family: 'SF Pro Display';
    src: url(../fonts/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
    font-family: 'SF Pro Display Black Italic';
    src: url(../fonts/SFPRODISPLAYBLACKITALIC.OTF);
}

@font-face {
    font-family: 'SF Pro Display Bold';
    src: url(../fonts/SFPRODISPLAYBOLD.OTF);
}

@font-face {
    font-family: 'SF Pro Display Medium';
    src: url(../fonts/SFPRODISPLAYMEDIUM.OTF);
}

